<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
  {{- block "title" . -}}
    {{ .Page.Title }} – {{ .Site.Title }}
  {{- end -}}
</title>
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bulma.css">
{{ if .IsTranslated -}}
  {{- range .Translations -}}
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">
  {{- end }}
{{- end }}

<body>

  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item{{- if .IsHome }} active {{- end }}" href="{{ "/" | absLangURL }}">{{ i18n "global.home" }}</a>
    </div>
    <div class="navbar-menu is-active">
      <div class="navbar-start">
        {{- range .Site.Menus.main }}
          <a class="navbar-item{{- if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} active {{- end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
        {{- end }}
      </div>
      <div class="navbar-end">
        {{- if .IsTranslated }}
          {{- range .Translations }}
            <a class="navbar-item" href="{{ .Permalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}" title="{{ .Title }}">{{ .Language.LanguageName }}</a>
          {{- end }}
        {{- end }}
      </div>
    </div>
  </nav>

  <section id="content" class="section">
    <div class="container">
      <div class="content is-size-5-desktop">
        {{ block "main" . }}{{ end }}
        </div>
      </div>
    </section>

    <section id="lastmod-opensource" class="section">
      <div class="container">
        <h2 style="display: none;" class="title">{{ i18n "global.page_updates" }}</h2>
        <div class="content has-text-grey-light">
          {{- $.Scratch.Set "lastMod" (.Lastmod) }}
          {{- with .GitInfo }}
            {{- $.Scratch.Set "lastMod" (.AuthorDate) }}
            {{ printf "<!-- %s – “%s” – %s/commit/%s -->" .AbbreviatedHash .Subject $.Site.Params.ghrepo .Hash | safeHTML }}
          {{- end }}
          <p>{{ i18n "global.page_last_modified" (dict "Title" .Title "Date" ($.Scratch.Get "lastMod" | dateFormat "2006-01-02")) }}</p>
          <p>{{ i18n "global.page_is_open-source" (dict "GhFileUrl" (printf "%s/blob/master/content/%s" $.Site.Params.ghrepo $.File.Path)) | markdownify }}</p>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          {{ with .Site.Copyright }}<p>{{ replace . "{year}" now.Year }}</p>{{ end }}
          </div>
        </div>
      </footer>

    </body>
    {{/* vim: set filetype=gohtmltmpl: */}}
