 {{ partial "head.html" . }}

<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
  {{ partial "sidebar.html" . }}
  <style>
    #unicode ul,
    #unicode li,
    #unicode dl,
    #unicode dt,
    #unicode dd {
      margin: 0;
    }

    #unicode ul,
    #unicode dl {
      padding: 0;
    }

    #unicode dd,
    #unicode li {
      display: inline-block;
      margin-bottom: 4px;
      min-width: 2rem;
      font-size: xx-large;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #eee;
    }

    #unicode dd:active,
    #unicode li:active {
      background: #fe9;
    }

    #unicode dd img,
    #unicode li img {
      max-width: 36px;
      max-height: 36px;
    }
  </style>

  <div class="content container">
    <div class="post">
      <h1>{{ .Title }}</h1>
      <div id="unicode">
        {{ $unicodeData := (index .Site.Data.unicode) }}

        <section id="textual">
          <h1>Textual</h1>

          <ul>
            {{- range $unicodeData.textual.glyphs }}
            <li title="{{ .code }} {{ .char }} {{ .unicode.na }}" data-blk="{{ .unicode.blk }}" data-gc="{{ .unicode.gc }}">{{ .char }}</li>
            {{- end }}
          </ul>
        </section>

        <section id="emoji">
          <h1>Emoji</h1>
          <!-- The images used in this section come from https://commons.wikimedia.org/wiki/Emoji -->
          <ul>
            {{- range $unicodeData.emoji.glyphs }}
            <li title="{{ .code }} {{ .char }} {{ .unicode.na }}" data-blk="{{ .unicode.blk }}" data-gc="{{ .unicode.gc }}">
              {{- if .img }}<img alt="{{ .char }}" src="{{ .img }}">{{ else }}{{ .char }}{{ end -}}
            </li>
            {{- end }}
          </ul>
        </section>

      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
  <script>
  var elems = document.querySelectorAll('#unicode li');
  new Clipboard(elems, {
    text: function(trigger) {
      var imgElems = trigger.getElementsByTagName('img');
      if (imgElems.length > 0) {
        return imgElems[0].getAttribute('alt'); // Emoji is an image, return its `alt` element
      } else {
        return trigger.textContent; // Emoji is plaintext, return its content
      }
    }
  });
  </script>

</body>

</html>
