 {{ partial "head.html" . }}

<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
  {{ partial "sidebar.html" . }}

  <div class="content container">
    <div class="post">
      <h1>{{ .Title }}</h1>
      {{ $myPokedex := (index .Site.Data.pokemon.pokedex_sm) }}

      {{- $.Scratch.Add "pkmnLeft" 0 }}
      {{- range $myPokedex.pokemons -}}
        {{- if not .owned -}}
          {{- $.Scratch.Add "pkmnLeft" 1 -}}
        {{- end -}}
      {{- end -}}

      <p>
        The following table lists the
        {{- with $.Scratch.Get "pkmnLeft" -}}
          {{- if ge . 2 }} {{ $.Scratch.Get "pkmnLeft" }} pokémons {{- end -}}
          {{- if eq . 1 }} pokémon {{- end -}}
      {{ end }}
        in Pokémon Moon that I <em>do <strong>not</strong> own</em>, and am willing to trade.
      </p>      

      <table>
        <thead>
          <tr>
            <th>№</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
        {{- range $myPokedex.pokemons -}}
          {{- if not .owned }}
          <tr>
            <td>{{ printf "%03d" .number.regional }}</td>
            <td>
              {{- if .number.national -}}
                <a href="http://www.serebii.net/pokedex-sm/{{ printf "%03d" .number.national }}.shtml">{{ .name }}</a>
              {{- else -}}
                {{ .name }}
              {{- end -}}
            </td>
          </tr>
          {{- end -}}
        {{- end -}}
        </tbody>
      </table>
    </div>
  </div>

</body>

</html>