<table>
  <caption>{{ i18n "Latest content" }}</caption>
  <tr>
    <th>{{ i18n "Latest posts" }}</th>
    <th>{{ i18n "Latest reads" }}</th>
  </tr>
  <tr>
    <td>
      <ul>
      {{ range first 5 (where .Site.RegularPages "Section" "post") }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
      </ul>
    </td>
      <ul>
      {{ range first 5 (where .Site.RegularPages "Section" "read") }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
      </ul>
  </tr>
</table>
